{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
			
			<!-- ======================= Top Breadcrubms ======================== -->
			<div class="bg-light py-5">
				<div class="ht-30"></div>
				<div class="container">
					<div class="row">
						<div class="colxl-12 col-lg-12 col-md-12">
							<h1 class="ft-medium">Browse Employers</h1>
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item"><a href="#">Job</a></li>
									<li class="breadcrumb-item active theme-cl" aria-current="page">Browse Employers</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
				<div class="ht-30"></div>
			</div>
			<!-- ======================= Top Breadcrubms ======================== -->
			
			<!-- ============================ Main Section Start ================================== -->
			<section>
				<div class="container">
					<div class="row">
					
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="company-letters"><a href="#A">A</a><a href="#B">B</a><a href="#C">C</a><a href="#D">D</a><a href="#E">E</a><a href="#F">F</a><a href="#G">G</a><a href="#H">H</a><a href="#I">I</a><a href="#J">J</a><a href="#K">K</a><a href="#L">L</a><a href="#M">M</a><a href="#N">N</a><a href="#O">O</a><a href="#P">P</a><a href="#Q">Q</a><a href="#R">R</a><a href="#S">S</a><a href="#T">T</a><a href="#U">U</a><a href="#V">V</a><a href="#W">W</a><a href="#X">X</a><a href="#Y">Y</a><a href="#Z">Z</a></div>
						</div>
						
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							
							<ul class="company-summeries-list">
							
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">A</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Accentric Global</a></li>
										<li><a href="javascript:void(0);">Adroit Solutions</a></li>
										<li><a href="javascript:void(0);">Algorithm Computers</a></li>
										<li><a href="javascript:void(0);">Amked Technologies</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">B</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">B2 Software </a></li>
										<li><a href="javascript:void(0);">Basil Solutions</a></li>
										<li><a href="javascript:void(0);">Binary Infotech Pvt. Ltd</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">C</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">C – Wave Technologies</a></li>
										<li><a href="javascript:void(0);">Candor Technologies</a></li>
										<li><a href="javascript:void(0);">CK Technologies</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">D</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Delta Infotech</a></li>
										<li><a href="javascript:void(0);">Devine Soft</a></li>
										<li><a href="javascript:void(0);">Decso Technology</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">E</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Elika Soft</a></li>
										<li><a href="javascript:void(0);">Esport Descort</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">F</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Founter Scott</a></li>
										<li><a href="javascript:void(0);">Flippo Tech</a></li>
										<li><a href="javascript:void(0);">Foormert Technology</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">G</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Goolmark Soft</a></li>
										<li><a href="javascript:void(0);">Gizer Hindustan</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">H</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Himalya Soft</a></li>
										<li><a href="javascript:void(0);">Hindustan Perto</a></li>
										<li><a href="javascript:void(0);">Hilvash Tech</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">J</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Jikroo Soft</a></li>
										<li><a href="javascript:void(0);">Jivar Merkurm</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">L</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Kumkum Srikesh</a></li>
										<li><a href="javascript:void(0);">Kisan Krusjham</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">M</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Monkey tech</a></li>
										<li><a href="javascript:void(0);">Moon Shinch</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">N</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Neo Soft</a></li>
										<li><a href="javascript:void(0);">Nicholous Mart</a></li>
										<li><a href="javascript:void(0);">Nismirti Technology</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">O</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Orange Partio</a></li>
										<li><a href="javascript:void(0);">Okhla Deshio</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">P</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Piller Port</a></li>
										<li><a href="javascript:void(0);">Punchi Liomart</a></li>
										<li><a href="javascript:void(0);">Poormash Tech</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">S</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Surya Suntech</a></li>
										<li><a href="javascript:void(0);">Simbha Herrier</a></li>
										<li><a href="javascript:void(0);">Sindoori Cloper</a></li>
									</ul>	
								</li>
								
								<li>
									<div class="d-inline-flex px-4 py-2 bg-light rounded fs-xl ft-medium theme-cl mb-2">T</div>
									<ul class="cmp-overview">
										<li><a href="javascript:void(0);">Tree Tech Lio</a></li>
										<li><a href="javascript:void(0);">Timsha Soft</a></li>
									</ul>	
								</li>
							
							</ul>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Main Section End ================================== -->
			
			<!-- ======================= Newsletter Start ============================ -->
			<section class="space bg-cover" style="background:#03343b url(assets/img/landing-bg.png) no-repeat;">
				<div class="container py-5">
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center mb-5">
								<h6 class="text-light mb-0">Subscribr Now</h6>
								<h2 class="ft-bold text-light">Get All New Job Notification</h2>
							</div>
						</div>
					</div>
					
					<div class="row align-items-center justify-content-center">
						<div class="col-xl-7 col-lg-10 col-md-12 col-sm-12 col-12">
							<form class="bg-white rounded p-1">
								<div class="row no-gutters">
									<div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-8">
										<div class="form-group mb-0 position-relative">
											<input type="text" class="form-control lg left-ico" placeholder="Enter Your Email Address">
											<i class="bnc-ico lni lni-envelope"></i>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-4">
										<div class="form-group mb-0 position-relative">
											<button class="btn full-width custom-height-lg theme-bg text-light fs-md" type="button">Subscribe</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ======================= Newsletter Start ============================ -->
			{% endblock %}