{% extends 'web/partials/base.html' %}
{% load static %}
{% block content %}
			<!-- ======================= dashboard Detail ======================== -->
			<div class="dashboard-wrap bg-light">
				<a class="mobNavigation" data-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
					<i class="fas fa-bars mr-2"></i>Dashboard Navigation
				</a>
				 <div class="collapse" id="MobNav">
					<div class="dashboard-nav">
						<div class="dashboard-inner">
							<ul data-submenu-title="Main Navigation">
								<li><a href="candidate-dashboard.html"><i class="lni lni-dashboard mr-2"></i>Dashboard</a></li>
								<li><a href="dashboard-manage-resume.html"><i class="lni lni-files mr-2"></i>Manage Resumes</a></li>
								<li><a href="dashboard-add-resume.html"><i class="lni lni-add-files mr-2"></i>Create Resume</a></li>
								<li><a href="dashboard-applied-jobs.html"><i class="lni lni-briefcase mr-2"></i>Applied jobs</a></li>
								<li><a href="dashboard-alert-job.html"><i class="ti-bell mr-2"></i>Alert Jobs<span class="count-tag bg-warning">4</span></a></li>
								<li><a href="dashboard-saved-jobs.html"><i class="lni lni-bookmark mr-2"></i>Bookmark Jobs</a></li>
								<li class="active"><a href="dashboard-packages.html"><i class="lni lni-mastercard mr-2"></i>Packages</a></li>
								<li><a href="dashboard-messages.html"><i class="lni lni-envelope mr-2"></i>Messages<span class="count-tag">4</span></a></li>
							</ul>
							<ul data-submenu-title="My Accounts">
								<li><a href="dashboard-my-profile.html"><i class="lni lni-user mr-2"></i>My Profile </a></li>
								<li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt mr-2"></i>Change Password</a></li>
								<li><a href="javascript:void(0);"><i class="lni lni-trash-can mr-2"></i>Delete Account</a></li>
								<li><a href="login.html"><i class="lni lni-power-switch mr-2"></i>Log Out</a></li>
							</ul>
						</div>					
					</div>
				</div>
				
				<div class="dashboard-content">
					<div class="dashboard-tlbar d-block mb-5">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<h1 class="ft-medium">Package</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item text-muted"><a href="#">Home</a></li>
										<li class="breadcrumb-item text-muted"><a href="#">Dashboard</a></li>
										<li class="breadcrumb-item"><a href="#" class="theme-cl">Package</a></li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					
					<div class="dashboard-widg-bar d-block">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="mb-4 tbl-lg rounded overflow-hidden">
									<div class="table-responsive bg-white">
										<table class="table">
											<thead class="thead-dark">
												<tr>
												  <th scope="col">Sr. No.</th>
												  <th scope="col">Transaction id</th>
												  <th scope="col">Package Title</th>
												  <th scope="col">Expired</th>
												  <th scope="col">Total Jobs</th>
												  <th scope="col">Used</th>
												  <th scope="col">Remain</th>
												  <th scope="col">Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><span>01</span></td>
													<td>#WKPL12363</td>
													<td><a href="javascript:void(0);" class="theme-cl">Silver Pack</a></td>
													<td>07 Jan 2021</td>
													<td>40</td>
													<td>28</td>
													<td>12</td>
													<td><span class="theme-cl">Active</span></td>
												</tr>
												<tr>
													<td><span>02</span></td>
													<td>#WKPL12364</td>
													<td><a href="javascript:void(0);" class="theme-cl">Golden Pack</a></td>
													<td>22 Dec 2021</td>
													<td>80</td>
													<td>38</td>
													<td>42</td>
													<td><span class="theme-cl">Active</span></td>
												</tr>
												<tr>
													<td><span>03</span></td>
													<td>#WKPL12365</td>
													<td><a href="javascript:void(0);" class="theme-cl">Silver Pack</a></td>
													<td>10 Sep 2021</td>
													<td>40</td>
													<td>30</td>
													<td>10</td>
													<td><span class="theme-cl">Active</span></td>
												</tr>
												<tr>
													<td><span>01</span></td>
													<td>#WKPL12366</td>
													<td><a href="javascript:void(0);" class="theme-cl">Platinum Pack</a></td>
													<td>02 Feb 2020</td>
													<td>60</td>
													<td>40</td>
													<td>20</td>
													<td><span class="text-danger">Expired</span></td>
												</tr>
												<tr>
													<td><span>01</span></td>
													<td>#WKPL12367</td>
													<td><a href="javascript:void(0);" class="theme-cl">Silver Pack</a></td>
													<td>10 Oct 2021</td>
													<td>40</td>
													<td>22</td>
													<td>28</td>
													<td><span class="theme-cl">Active</span></td>
												</tr>
												<tr>
													<td><span>02</span></td>
													<td>#WKPL12368</td>
													<td><a href="javascript:void(0);" class="theme-cl">Silver Pack</a></td>
													<td>07 Jan 2021</td>
													<td>40</td>
													<td>28</td>
													<td>12</td>
													<td><span class="theme-cl">Active</span></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
							
					</div>
					
					<!-- footer -->
					<div class="row">
						<div class="col-md-12">
							<div class="py-3">© 2022 Workplex. Designd By ThemezHub.</div>
						</div>
					</div>
		
				</div>
				
			</div>
			<!-- ======================= dashboard Detail End ======================== -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
	


{% endblock %}